/*
* Global Classes
*/

.reset-for-btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	&:focus {background: transparent;}
}

._center {
	margin-left: auto;
	margin-right: auto;
}
.center-fluid {
	margin-left: auto !important;
	margin-right: auto !important;
	display: table !important;
	float: none !important;
}

.upper {text-transform: uppercase;}
.lower {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}

.txt-center {text-align: center;}

.txt-shadow {text-shadow: 1px 1px 2px rgba(#000, 0.3);}

.txt-light {font-weight: 300;}
.txt-regular {font-weight: 400;}
.txt-semibold {font-weight: 500;}
.txt-bold {font-weight: 600;}

.transition {transition: .2s;}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.text-preview {
	height: 197px;
	overflow: hidden;
	position: relative;
}
.text-preview:after,
.text-preview:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	box-shadow: 0 0 30px 25px rgba(255,255,255, .7);
}
.text-preview:before {
	box-shadow: 0 0 7px 3px rgba(255,255,255, .8);
}

// *******************
// *  Main Elements  * - only view, not positioning (exclude 'padding')
// *******************

.main-title {
	@extend .txt-center;
	color: #eee;
	padding: 3.0em 0 1.5em;
	span {font-size: 3em; line-height: 1em;}
}

.main-subtitle {
	@extend .txt-shadow, .txt-center;
	padding: 1em 0 .8em;
	span {font-size: 1.5em;}
}

.main-input {}
.main-input:focus {}

.main-btn {
	@extend .transition, .reset-for-btn, .txt-bold, .txt-center;
    background: #0091ea;
    border-radius: 30px;
    padding: .4em .5em;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2em;
    display: table;
    span {
    	font-size: .9em;
    	display: inline-block;
    	width: 100%;
    }

    &:hover {background: (#009688) + 20;}
    &:focus {background: (#0091ea) + 20;}
}