/*
* Basic Normalize Styles
*/

* {
	font-size: 1em;
	@include box-sizing(border-box);
}

$base-font-size: 16px;
body {
	font-family: Roboto, sans-serif;
	font-size: $base-font-size;
	background-color: #eee;
	// color: #fff;

	background: #673ab7;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 1em;
}

body, html {height: 100%;}




/* adds to MaterializeCSS */
	.card-secondTitle {
		padding: .5em 0 0;
		color: #333;
		span {font-size: .9em;}
	}

	.card {
		@extend .clearfix;
	}

	// colors
	.skyBlue {
		background-color: $skyBlue;
		&.btn:focus {background: $skyBlue + 20;}
	}

	.container {transition: .5s;}
	@media (min-width: 1100px) { .container.l-950 {width: 950px;} }
	@media (max-width: 1099px) { .container.m-full {width: 95%;} }
	@media (max-width: 750px) {
		.container.m-full {
			.col.s12 {width: 100%;}
		}
	}
/* end adds to MaterializeCSS */