/*
* UI Elements styles
* styled entities: nav-menu, dropdownContent
*/

// TODO: re-markup nav-menu in SCSS Style
// TODO: remame 'nav-menu' to 'navMenu' and use Dash BEM Style, not Underscore
/* nav-menu */
	.nav-menu {
		@extend .transition;
		float: right;
		display: table;
	}

	.nav-menu__items {
		height: 100%;
		overflow-y: auto;
	}

	.nav-menu__item {
		@extend .transition;
		position: relative;
		text-transform: uppercase;
		float: left;
		cursor: pointer;
		padding: .8em 1em 0;
		span {
			@extend .transition;
			color: #fff;
			font-size: 1em;
			font-weight: 500;
		}
		&:hover span {opacity: .7;}
		cursor: pointer;
		a {cursor: pointer;}
	}
	.nav-menu__item:last-child {padding-right: 0;}
	.nav-menu__item .caret-icon {
		@extend .transition;
		position: relative;
		top: 0;
		margin-left: 1px;
		display: inline-block;
		width: 16px;
		height: 15px;
		transform: rotate(180deg);
		.material-icons {
			color: #eee !important;
		}
 	}
	.nav-menu__item:hover {color: #eee;}

	.nav-menu__mob-header {
		display: none;
		position: relative;
		height: $height_mobHeader;
	}
	
	.nav-menu__mob-header .menu-toggler {
		@extend .transition, .reset-for-btn;
		z-index: 100;
		position: absolute;
		top: 7px;
		left: -50px;
		padding: .35em .1em 0 0;

		width: 2.5em;
		height: 2.5em;
		border-radius: 50%;
		.material-icons {font-size: 1.8em;}
	}

	.nav-menu__mob-header .menu-toggler:hover {
		background-color: rgba(#000, .3) !important;
		.material-icons {
			@extend .transition;
		}
	}

	:not(.header--fixed) .menu-toggler {
		background-color: rgba(#fff, .3) !important;
	}
	
	.nav-menu__mob-header .brand-logo {
		display: block;
		float: left;
		padding-top: .15em;
	}
	.nav-menu__mob-header .mob-header-title {
		float: left;
		color: #fff;
		letter-spacing: 1px;
		padding: 1.0em 0 0 .67em;
		span {font-size: 1.5em;}
	}

	.nav-menu__mob-header .arrow-right {
		@extend .reset-for-btn;

		padding: .1em 0 0 .1em;
		width: 3.35em;
		height: 3.35em;
		border-radius: 50%;

		margin-top: 0;
		float: right;
		display: block;
		.material-icons {font-size: 3em !important;}
	}
	.nav-menu__mob-header .arrow-right:hover {
		.material-icons {
			@extend .transition;
		}
	}

	.changeable-onMenuOpen {
		@extend .transition;
		position: relative;
		left: 0;
	}
	.moveLeft-onMenuOpen {left: -350px !important;}

	@media (min-width: 701px) {
		.moveLeft-onMenuOpen {left: 0 !important;}
	}
	@media (max-width: 700px) {
		.nav-menu__items {
			height: 100%;
			padding-bottom: 4.5em;
			overflow-y: auto;
		}

		.nav-menu {
			position: fixed;
			z-index: 1000;
			top: 0;
			right: -350px;
			width: 350px;
			height: 100%;
			background: $darkViolet;
		}
		.nav-menu_active {right: 0;}

		.nav-menu__item {
			font-size: 17px;
			float: none;
			margin-bottom: 15px;
		}

		.nav-menu__subitems {
			position: relative;
			top: -30px;
			background: transparent;
		}

		.nav-menu__item_active .nav-menu__subitems {
			top: 10px;
		}

		.nav-menu__subitems li,
		.nav-menu__subitems a {font-size: 16px;}

		.nav-menu__mob-header {
			display: block;
			padding: 5px 5px 5px 13px;
			margin-bottom: 15px;
		}
	}

	@media (max-width: 350px) {
		.nav-menu {
			width: 100%;
		}
		.nav-menu__mob-header .menu-toggler {
			position: fixed;
			left: auto;
			right: .5em;
		}
		.nav-menu_active .menu-toggler {display: none;}
	}

	.nav-menu__item.item-loggedUser {
		@extend .reset-for-btn;
		
		//border: 1px solid #eee !important;

		.dropdownContent {
			display: block;
			width: 10em;
			right: auto;
			left: -3.0em;
		}
		.dropdownContent.active {top: 100% !important;}
	}
/* end nav-menu */


/* dropdownContent */
	.dropdownContent {
		@extend .transition;
		opacity: 0;
		top: -60px;
		height: 0;
		width: 0;
		overflow: hidden;

		display: block;
		position: absolute;
		right: 0;
		background: #fff;
		padding: 0;
		margin: 0 !important;
		font-size: 1em;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);

		ul, li, span {
			font-size: 1em;
			color: $skyBlue !important;
			text-transform: none;
			width: 100%;
			display: inline-block;
		}
		span {font-size: .8em;}
	}

	.dropdownContent.active {
		opacity: 1;
		top: -3px;
		height: auto;
		width: auto;
		padding: 0 .5em;
	}
	.dropdownContent--top.active {
		top: -100%;
		top: calc(-100% - 5px);
	}
	.dropdownContent--bottom.active {
		top: 100%;
		top: calc(100% + 5px);
	}
	.dropdownContent--left.active {
		right: 100%;
		right: calc(100% + 5px);
	}
	.dropdownContent--right.active {
		right: auto;
		left: 100%;
		left: calc(100% + 5px);
	}

	.dropdownContent li {
		padding: .2em 0;
		display: table;
		line-height: .85em;
		font-size: 1em;
		span {
			font-size: .8em;
			color: $skyBlue;
		}
	}
/* end dropdownContent */
