/*
* Chat styles
* styled entities: chatWindow, message
*/

$topPanel_height: 2em;
$controls_height: 4.9em;

.chatWindow {
    display: none;

    @extend .transition;
    position: fixed;
    bottom: 0;
    right: 1em;
    z-index: 10;

    width: 280px;
    height: 400px;

    border-radius: 10px 10px 0 0;
    background: #fff;
    color: #000;

    &--minimized {
        height: 2em;
        .chatWindow-content,
        .chatWindow-controls
        {display: none;}
    }

    &-inside {
        position: relative;
        height: 100%;
        width: 100%;
    }

    &-topPanel {
        position: absolute;
        left: 0;
        top: 0;

        padding: .2em 0 0 0;

        width: 100%;
        height: $topPanel_height;

        background: #766;
        color: #fff;

        border-radius: 4px 4px 0 0;
    }

    &-content {
        width: 100%;
        height: 100%;
        padding-top: $topPanel_height;
        padding-bottom: $controls_height;
    }
    &-contentInside {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    &-controls {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: $controls_height;

        background: #eee;
    }
    &-controlsInside {
        padding: 0 1em;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        input {margin-bottom: 0;}
    }
}



.avatar {
    img {
        width: 3em;
        height: auto;
    }
}
