/*
* User styles
* styled entities: user
*/

.loggedUser {
	&-img {
		position: relative;
		display: block;
		width: 1.9em;
		height: 1.9em;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}
}


.userPreview {
	@extend .clearfix;
	position: relative;
	margin-top: 1.4em;
	padding-top: 1em;
	border-bottom: 1px solid rgba(#cecece, .3);
	padding-bottom: 1em;
	min-height: 5em;

	&-img {
		position: absolute;
		top: 1em;
		left: 0;
		display: block;
		float: left;
		width: 3.5em;
		height: 3.5em;

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	&-info {
		width: 100%;
		padding-left: 4.3em;
	}

	&-name {
		display: block;
		line-height: 1em;
		padding-bottom: .8em;

		span {font-size: 1.2em; color: $skyBlue + 50}

		.material-icons {
			position: relative;
			top: .25em;
		}
	}

	&-param {
		line-height: 1em;
		padding-bottom: .5em;

		span {
			font-size: .85em;
			color: #aaa;
		}
		.param-value {	
			@extend .txt-semibold;
			color: #eee;

			span.comaDevider {
				color: inherit;
				font-size: inherit;
			}
		}
		a.param-value {	
			span {color: $skyBlue;}
		}
	}
}
