/*
* Page styles
* styled entities: page, authPage, routePage
*/

.page {
	@extend ._center;
	display: table;

	&.userPage {
		.post {
			margin-bottom: 1.5em;
			border-bottom: 1px solid #eee;
		}
	}

	&.card {
		@extend .clearfix;
		padding: 1em;
		margin-top: 1em;

		.authorBlock,
		.likeAndComments,
		.card-content {
			padding-left: 0;
			padding-right: 0;
		}
		.authorBlock {padding-right: .5em;}
	}
	.collapsible {
		box-shadow: none;
		&,
		&-header,
		&-body {
			border: none;
			padding: 0;
		}

		&-body {
			line-height: 1.3em;
			p {padding: 0;}
			p span {font-size: .9em;}
		}
		.material-icons {color: $skyBlue;}
	}

	.narrowColumnWrapper {
		width: 13em;
		float: left;
	}
	.narrowColumn {
		width: 100%;
	}

	.wideColumnWrapper {
		width: 33em;
		float: left;
		padding-left: 1em;
	}
	.wideColumn {
		width: 100%;
	}

	&-photo {
		display: block;
		width: 100%;
		float: left;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 3px;
		}
	}

	a {cursor: pointer;}

	&-name {
		@extend .txt-semibold;
		display: block;
		line-height: 1em;
		padding-bottom: .8em;
		margin-bottom: .8em;
		border-bottom: 1px solid #e5e5e5;

		span {font-size: 1.4em; line-height: 1em;}

		.material-icons {
			position: relative;
			top: .1em;
			color: $skyBlue;
		}
	}

	&-sectionTitle {
		@extend .upper, .txt-center;
		margin: 1em 0 .5em;
		color: $skyBlue;

		span {font-size: 1.5em}
	}

	&-paramSection {
		position: relative;
		padding: .6em 0 .1em;
		margin: .5em 0 0;
		border-top: 1px solid #e5e5e5;
	}
	&-paramSectionTitle {
		@extend .txt-semibold;
		background: #fff;
		border-radius: 1em;
		padding: 0 .3em .05em;
		position: absolute;
		top: -.7em;
		left: -.3em;

		span {
			font-size: .8em;
			color: #333;
		}
	}

	&-param {
		line-height: 1em;
		padding-bottom: .4em;

		span {
			font-size: .75em;
			color: #aaa;
		}
		.param-value {	
			@extend .txt-semibold;
			color: #333;

			span.comaDevider {
				color: inherit;
				font-size: inherit;
			}
		}
		.param-value.txt-regular {@extend .txt-regular;}

		a.param-value {	
			span {color: $skyBlue;}
		}
	}

	&-title {
		@extend .txt-semibold;
		line-height: 1em;
		padding-bottom: .8em;
		margin-bottom: 1.2em;
		border-bottom: 1px solid #e5e5e5;

		span {font-size: 1.2em;}
	}
}


.authPage {
	background-image: url(http://localhost:2222/uploads/img/site/authPage/groupConversation.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;

	&-content {
		overflow: auto;
		background-color: rgba(0,0,0, .5);
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 0;
		padding-bottom: 1.5em;
	}

	&-outerLink {
		@extend .transition;
		margin-top: 1em;
		color: $skyBlue-lighten - 20 !important;
	}
	&-outerLink:hover {color: #eee !important;}

	.main-title {color: $skyBlue-lighten;}
}


/* Route Pages */
	.routePage {
		overflow: auto;
		width: 100%;
		height: 100%;
		height: calc(100% - 3.5em);
		padding-bottom: 3.5em;
	}

	html home-component .slimScrollDiv,
	html login-component .slimScrollDiv,
	html register-component .slimScrollDiv,
	html inbox-component .slimScrollDiv {
		width: 100% !important;
		height: 100% !important;
		height: calc(100% - 3.5em) !important;
	}

	.changeble-onPageAppearance {
		transition: .5s;
		position: fixed;
		z-index: 1;
		top: 7em;
		opacity: 0;
	}
	.changeble-onPageAppearance.activePage {
		top: 3.5em;
		opacity: 1;
	}

/* end Route Pages */