/*
* Other Content Styles
*/

.header--fixed {
	.header {position: fixed !important;}
}
.skyBlue {
	.header {
		background: $skyBlue !important;
		text-shadow: none !important;
		.nav-menu__item span {color: #eee;}
		.nav-menu__item:hover span {color: #fff;}
	}
}
.header {
	@extend .clearfix;
	padding: .4em 1em 0;
	width: 100%;
	height: 3.5em;
	position: relative;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(#fff, .1);

	&-logo {
		@extend .clearfix;
		display: block;
		float: left;
		img {
			width: 2.7em;
			height: auto;
		}
	}

	.loggedUser-img {top: -.33em;}
}




.validationStatus {padding-top: 1em;}
