/*
* Global Variables
*/

// colors
	$darkViolet: #1f1137; // mob side nav-menu

	$marineLight: #b9f6ca;
	$skyBlue: #0091ea;
	$skyBlue-lighten: #00e5ff;


// Nav Menu
	$height_mobHeader: 3.5em;
/*
* Mixins
*/

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
     -moz-box-sizing: $value;
      -ms-box-sizing: $value;
          box-sizing: $value;
}
/*
* Global Classes
*/

.reset-for-btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	&:focus {background: transparent;}
}

._center {
	margin-left: auto;
	margin-right: auto;
}
.center-fluid {
	margin-left: auto !important;
	margin-right: auto !important;
	display: table !important;
	float: none !important;
}

.upper {text-transform: uppercase;}
.lower {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}

.txt-center {text-align: center;}

.txt-shadow {text-shadow: 1px 1px 2px rgba(#000, 0.3);}

.txt-light {font-weight: 300;}
.txt-regular {font-weight: 400;}
.txt-semibold {font-weight: 500;}
.txt-bold {font-weight: 600;}

.transition {transition: .2s;}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.text-preview {
	height: 197px;
	overflow: hidden;
	position: relative;
}
.text-preview:after,
.text-preview:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	box-shadow: 0 0 30px 25px rgba(255,255,255, .7);
}
.text-preview:before {
	box-shadow: 0 0 7px 3px rgba(255,255,255, .8);
}

// *******************
// *  Main Elements  * - only view, not positioning (exclude 'padding')
// *******************

.main-title {
	@extend .txt-center;
	color: #eee;
	padding: 3.0em 0 1.5em;
	span {font-size: 3em; line-height: 1em;}
}

.main-subtitle {
	@extend .txt-shadow, .txt-center;
	padding: 1em 0 .8em;
	span {font-size: 1.5em;}
}

.main-input {}
.main-input:focus {}

.main-btn {
	@extend .transition, .reset-for-btn, .txt-bold, .txt-center;
    background: #0091ea;
    border-radius: 30px;
    padding: .4em .5em;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2em;
    display: table;
    span {
    	font-size: .9em;
    	display: inline-block;
    	width: 100%;
    }

    &:hover {background: (#009688) + 20;}
    &:focus {background: (#0091ea) + 20;}
}
/*
* Basic Normalize Styles
*/

* {
	font-size: 1em;
	@include box-sizing(border-box);
}

$base-font-size: 16px;
body {
	font-family: Roboto, sans-serif;
	font-size: $base-font-size;
	background-color: #eee;
	// color: #fff;

	background: #673ab7;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 1em;
}

body, html {height: 100%;}




/* adds to MaterializeCSS */
	.card-secondTitle {
		padding: .5em 0 0;
		color: #333;
		span {font-size: .9em;}
	}

	.card {
		@extend .clearfix;
	}

	// colors
	.skyBlue {
		background-color: $skyBlue;
		&.btn:focus {background: $skyBlue + 20;}
	}

	.container {transition: .5s;}
	@media (min-width: 1100px) { .container.l-950 {width: 950px;} }
	@media (max-width: 1099px) { .container.m-full {width: 95%;} }
	@media (max-width: 750px) {
		.container.m-full {
			.col.s12 {width: 100%;}
		}
	}
/* end adds to MaterializeCSS */
/*
* UI Elements styles
* styled entities: nav-menu, dropdownContent
*/

// TODO: re-markup nav-menu in SCSS Style
// TODO: remame 'nav-menu' to 'navMenu' and use Dash BEM Style, not Underscore
/* nav-menu */
	.nav-menu {
		@extend .transition;
		float: right;
		display: table;
	}

	.nav-menu__items {
		height: 100%;
		overflow-y: auto;
	}

	.nav-menu__item {
		@extend .transition;
		position: relative;
		text-transform: uppercase;
		float: left;
		cursor: pointer;
		padding: .8em 1em 0;
		span {
			@extend .transition;
			color: #fff;
			font-size: 1em;
			font-weight: 500;
		}
		&:hover span {opacity: .7;}
		cursor: pointer;
		a {cursor: pointer;}
	}
	.nav-menu__item:last-child {padding-right: 0;}
	.nav-menu__item .caret-icon {
		@extend .transition;
		position: relative;
		top: 0;
		margin-left: 1px;
		display: inline-block;
		width: 16px;
		height: 15px;
		transform: rotate(180deg);
		.material-icons {
			color: #eee !important;
		}
 	}
	.nav-menu__item:hover {color: #eee;}

	.nav-menu__mob-header {
		display: none;
		position: relative;
		height: $height_mobHeader;
	}
	
	.nav-menu__mob-header .menu-toggler {
		@extend .transition, .reset-for-btn;
		z-index: 100;
		position: absolute;
		top: 7px;
		left: -50px;
		padding: .35em .1em 0 0;

		width: 2.5em;
		height: 2.5em;
		border-radius: 50%;
		.material-icons {font-size: 1.8em;}
	}

	.nav-menu__mob-header .menu-toggler:hover {
		background-color: rgba(#000, .3) !important;
		.material-icons {
			@extend .transition;
		}
	}

	:not(.header--fixed) .menu-toggler {
		background-color: rgba(#fff, .3) !important;
	}
	
	.nav-menu__mob-header .brand-logo {
		display: block;
		float: left;
		padding-top: .15em;
	}
	.nav-menu__mob-header .mob-header-title {
		float: left;
		color: #fff;
		letter-spacing: 1px;
		padding: 1.0em 0 0 .67em;
		span {font-size: 1.5em;}
	}

	.nav-menu__mob-header .arrow-right {
		@extend .reset-for-btn;

		padding: .1em 0 0 .1em;
		width: 3.35em;
		height: 3.35em;
		border-radius: 50%;

		margin-top: 0;
		float: right;
		display: block;
		.material-icons {font-size: 3em !important;}
	}
	.nav-menu__mob-header .arrow-right:hover {
		.material-icons {
			@extend .transition;
		}
	}

	.changeable-onMenuOpen {
		@extend .transition;
		position: relative;
		left: 0;
	}
	.moveLeft-onMenuOpen {left: -350px !important;}

	@media (min-width: 701px) {
		.moveLeft-onMenuOpen {left: 0 !important;}
	}
	@media (max-width: 700px) {
		.nav-menu__items {
			height: 100%;
			padding-bottom: 4.5em;
			overflow-y: auto;
		}

		.nav-menu {
			position: fixed;
			z-index: 1000;
			top: 0;
			right: -350px;
			width: 350px;
			height: 100%;
			background: $darkViolet;
		}
		.nav-menu_active {right: 0;}

		.nav-menu__item {
			font-size: 17px;
			float: none;
			margin-bottom: 15px;
		}

		.nav-menu__subitems {
			position: relative;
			top: -30px;
			background: transparent;
		}

		.nav-menu__item_active .nav-menu__subitems {
			top: 10px;
		}

		.nav-menu__subitems li,
		.nav-menu__subitems a {font-size: 16px;}

		.nav-menu__mob-header {
			display: block;
			padding: 5px 5px 5px 13px;
			margin-bottom: 15px;
		}
	}

	@media (max-width: 350px) {
		.nav-menu {
			width: 100%;
		}
		.nav-menu__mob-header .menu-toggler {
			position: fixed;
			left: auto;
			right: .5em;
		}
		.nav-menu_active .menu-toggler {display: none;}
	}

	.nav-menu__item.item-loggedUser {
		@extend .reset-for-btn;
		
		//border: 1px solid #eee !important;

		.dropdownContent {
			display: block;
			width: 10em;
			right: auto;
			left: -3.0em;
		}
		.dropdownContent.active {top: 100% !important;}
	}
/* end nav-menu */


/* dropdownContent */
	.dropdownContent {
		@extend .transition;
		opacity: 0;
		top: -60px;
		height: 0;
		width: 0;
		overflow: hidden;

		display: block;
		position: absolute;
		right: 0;
		background: #fff;
		padding: 0;
		margin: 0 !important;
		font-size: 1em;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);

		ul, li, span {
			font-size: 1em;
			color: $skyBlue !important;
			text-transform: none;
			width: 100%;
			display: inline-block;
		}
		span {font-size: .8em;}
	}

	.dropdownContent.active {
		opacity: 1;
		top: -3px;
		height: auto;
		width: auto;
		padding: 0 .5em;
	}
	.dropdownContent--top.active {
		top: -100%;
		top: calc(-100% - 5px);
	}
	.dropdownContent--bottom.active {
		top: 100%;
		top: calc(100% + 5px);
	}
	.dropdownContent--left.active {
		right: 100%;
		right: calc(100% + 5px);
	}
	.dropdownContent--right.active {
		right: auto;
		left: 100%;
		left: calc(100% + 5px);
	}

	.dropdownContent li {
		padding: .2em 0;
		display: table;
		line-height: .85em;
		font-size: 1em;
		span {
			font-size: .8em;
			color: $skyBlue;
		}
	}
/* end dropdownContent */

/*
* Chat styles
* styled entities: chatWindow, message
*/

$topPanel_height: 2em;
$controls_height: 4.9em;

.chatWindow {
    display: none;

    @extend .transition;
    position: fixed;
    bottom: 0;
    right: 1em;
    z-index: 10;

    width: 280px;
    height: 400px;

    border-radius: 10px 10px 0 0;
    background: #fff;
    color: #000;

    &--minimized {
        height: 2em;
        .chatWindow-content,
        .chatWindow-controls
        {display: none;}
    }

    &-inside {
        position: relative;
        height: 100%;
        width: 100%;
    }

    &-topPanel {
        position: absolute;
        left: 0;
        top: 0;

        padding: .2em 0 0 0;

        width: 100%;
        height: $topPanel_height;

        background: #766;
        color: #fff;

        border-radius: 4px 4px 0 0;
    }

    &-content {
        width: 100%;
        height: 100%;
        padding-top: $topPanel_height;
        padding-bottom: $controls_height;
    }
    &-contentInside {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    &-controls {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: $controls_height;

        background: #eee;
    }
    &-controlsInside {
        padding: 0 1em;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        input {margin-bottom: 0;}
    }
}



.avatar {
    img {
        width: 3em;
        height: auto;
    }
}

/*
* User styles
* styled entities: user
*/

.loggedUser {
	&-img {
		position: relative;
		display: block;
		width: 1.9em;
		height: 1.9em;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}
}


.userPreview {
	@extend .clearfix;
	position: relative;
	margin-top: 1.4em;
	padding-top: 1em;
	border-bottom: 1px solid rgba(#cecece, .3);
	padding-bottom: 1em;
	min-height: 5em;

	&-img {
		position: absolute;
		top: 1em;
		left: 0;
		display: block;
		float: left;
		width: 3.5em;
		height: 3.5em;

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	&-info {
		width: 100%;
		padding-left: 4.3em;
	}

	&-name {
		display: block;
		line-height: 1em;
		padding-bottom: .8em;

		span {font-size: 1.2em; color: $skyBlue + 50}

		.material-icons {
			position: relative;
			top: .25em;
		}
	}

	&-param {
		line-height: 1em;
		padding-bottom: .5em;

		span {
			font-size: .85em;
			color: #aaa;
		}
		.param-value {	
			@extend .txt-semibold;
			color: #eee;

			span.comaDevider {
				color: inherit;
				font-size: inherit;
			}
		}
		a.param-value {	
			span {color: $skyBlue;}
		}
	}
}

/*
* Page styles
* styled entities: page, authPage, routePage
*/

.page {
	@extend ._center;
	display: table;

	&.userPage {
		.post {
			margin-bottom: 1.5em;
			border-bottom: 1px solid #eee;
		}
	}

	&.card {
		@extend .clearfix;
		padding: 1em;
		margin-top: 1em;

		.authorBlock,
		.likeAndComments,
		.card-content {
			padding-left: 0;
			padding-right: 0;
		}
		.authorBlock {padding-right: .5em;}
	}
	.collapsible {
		box-shadow: none;
		&,
		&-header,
		&-body {
			border: none;
			padding: 0;
		}

		&-body {
			line-height: 1.3em;
			p {padding: 0;}
			p span {font-size: .9em;}
		}
		.material-icons {color: $skyBlue;}
	}

	.narrowColumnWrapper {
		width: 13em;
		float: left;
	}
	.narrowColumn {
		width: 100%;
	}

	.wideColumnWrapper {
		width: 33em;
		float: left;
		padding-left: 1em;
	}
	.wideColumn {
		width: 100%;
	}

	&-photo {
		display: block;
		width: 100%;
		float: left;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 3px;
		}
	}

	a {cursor: pointer;}

	&-name {
		@extend .txt-semibold;
		display: block;
		line-height: 1em;
		padding-bottom: .8em;
		margin-bottom: .8em;
		border-bottom: 1px solid #e5e5e5;

		span {font-size: 1.4em; line-height: 1em;}

		.material-icons {
			position: relative;
			top: .1em;
			color: $skyBlue;
		}
	}

	&-sectionTitle {
		@extend .upper, .txt-center;
		margin: 1em 0 .5em;
		color: $skyBlue;

		span {font-size: 1.5em}
	}

	&-paramSection {
		position: relative;
		padding: .6em 0 .1em;
		margin: .5em 0 0;
		border-top: 1px solid #e5e5e5;
	}
	&-paramSectionTitle {
		@extend .txt-semibold;
		background: #fff;
		border-radius: 1em;
		padding: 0 .3em .05em;
		position: absolute;
		top: -.7em;
		left: -.3em;

		span {
			font-size: .8em;
			color: #333;
		}
	}

	&-param {
		line-height: 1em;
		padding-bottom: .4em;

		span {
			font-size: .75em;
			color: #aaa;
		}
		.param-value {	
			@extend .txt-semibold;
			color: #333;

			span.comaDevider {
				color: inherit;
				font-size: inherit;
			}
		}
		.param-value.txt-regular {@extend .txt-regular;}

		a.param-value {	
			span {color: $skyBlue;}
		}
	}

	&-title {
		@extend .txt-semibold;
		line-height: 1em;
		padding-bottom: .8em;
		margin-bottom: 1.2em;
		border-bottom: 1px solid #e5e5e5;

		span {font-size: 1.2em;}
	}
}


.authPage {
	background-image: url(http://localhost:2222/uploads/img/site/authPage/groupConversation.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;

	&-content {
		overflow: auto;
		background-color: rgba(0,0,0, .5);
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 0;
		padding-bottom: 1.5em;
	}

	&-outerLink {
		@extend .transition;
		margin-top: 1em;
		color: $skyBlue-lighten - 20 !important;
	}
	&-outerLink:hover {color: #eee !important;}

	.main-title {color: $skyBlue-lighten;}
}


/* Route Pages */
	.routePage {
		overflow: auto;
		width: 100%;
		height: 100%;
		height: calc(100% - 3.5em);
		padding-bottom: 3.5em;
	}

	html home-component .slimScrollDiv,
	html login-component .slimScrollDiv,
	html register-component .slimScrollDiv,
	html inbox-component .slimScrollDiv {
		width: 100% !important;
		height: 100% !important;
		height: calc(100% - 3.5em) !important;
	}

	.changeble-onPageAppearance {
		transition: .5s;
		position: fixed;
		z-index: 1;
		top: 7em;
		opacity: 0;
	}
	.changeble-onPageAppearance.activePage {
		top: 3.5em;
		opacity: 1;
	}

/* end Route Pages */
/*
* Other Content Styles
*/

.header--fixed {
	.header {position: fixed !important;}
}
.skyBlue {
	.header {
		background: $skyBlue !important;
		text-shadow: none !important;
		.nav-menu__item span {color: #eee;}
		.nav-menu__item:hover span {color: #fff;}
	}
}
.header {
	@extend .clearfix;
	padding: .4em 1em 0;
	width: 100%;
	height: 3.5em;
	position: relative;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(#fff, .1);

	&-logo {
		@extend .clearfix;
		display: block;
		float: left;
		img {
			width: 2.7em;
			height: auto;
		}
	}

	.loggedUser-img {top: -.33em;}
}




.validationStatus {padding-top: 1em;}
