<title>Registration</title>

<div class="authPage routePage changeable-onMenuOpen changeble-onPageAppearance" id="registerPage">
	<div class="authPage-content">
		<h2 class="main-title"> <span>Registration</span> </h2>

		<div class="container">
			<div class="auth-hint white-text">{{registerStatus}}</div>

			<div class="row">
				<div class="col l12 m12 s12 card">
					<div class="input-field col s12 m4 l4">
						<input [(ngModel)]="userLogin" id="login" type="text" class="validate">
						<label for="login">Login*</label>
				    </div>
					<div class="input-field col s12 m4 l4">
						<input [(ngModel)]="userPassword" id="password" type="password" class="validate">
						<label for="password">Password*</label>
				    </div>
				    <div class="input-field col s12 m4 l4">
						<input [(ngModel)]="userEmail" id="email" type="text" class="validate">
						<label for="email">E-mail*</label>
				    </div>
				</div>

				<div class="col l12 m12 s12 _center card">
					<div class="input-field col s12 m4 l4">
						<input [(ngModel)]="userName" id="_name" type="text" class="validate">
						<label for="_name">Name*</label>
				    </div>
					<div class="input-field col s12 m4 l4">
						<input [(ngModel)]="userSecondName" id="secondName" type="text" class="validate">
						<label for="secondName">Second Name</label>
				    </div>
					<div class="input-field col s12 m4 l4">
						<input [(ngModel)]="userSurName" id="surName" type="text" class="validate">
						<label for="surName">Surname*</label>
				    </div>
				</div>

				<div class="col l6 m6 s12 _center card">
					<div class="input-field col s12">
						<input [(ngModel)]="userImgUrl" id="imgUrl" type="text" class="validate">
						<label for="imgUrl">Link to profile image</label>
				    </div>
				</div>
			</div>

			<button (click)="register()" class="center-fluid btn skyBlue waves-effect waves-light"> <span>Submit</span> </button>

			<a class="center-fluid authPage-outerLink"  href="/#/login">
				<span>Login</span>
			</a>

		</div>
	</div>
</div>