
<div class="chatWindow chatWindow--minimized z-depth-4" id="chatWindow">
    <div class="chatWindow-inside">
        <div class="chatWindow-topPanel">
            <button class="reset-for-btn" (click)="ui.toggleClass('chatWindow', 'chatWindow--minimized')"> 
                <i class="material-icons">remove</i>
            </button>
        </div>
        <div class="chatWindow-content">
            <div class="chatWindow-contentInside slimScrollable_dark_alwaysVisible">
                <chat-message *ngFor="let message of messages | async" [message]="message">
                </chat-message>
            </div>
        </div>
        <div class="chatWindow-controls">
            <div class="chatWindow-controlsInside slimScrollable_dark_alwaysVisible">
                <div class="input-field">
                    <input type="text" id="messageInput">
                    <label for="messageInput">Type your message here...</label>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- <div class="chat-window-container">

      <div class="chat-window">
        <div class="panel-container">
          <div class="panel panel-default">

            <div class="panel-heading top-bar">
              <div class="panel-title-container">
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-comment"></span>
                  Chat - {{currentThread.name}}
                </h3>
              </div>
              <div class="panel-buttons-container">
              </div>
            </div>

            <div class="panel-body msg-container-base">

                <chat-message *ngFor="let message of messages | async" [message]="message">
                </chat-message>

            </div>

            <div class="panel-footer">
              <div class="input-group">
                <input type="text" 
                       class="chat-input"
                       placeholder="Write your message here..."
                       (keydown.enter)="onEnter($event)"
                        />
                  <button class="btn waves-effect waves-light center-fluid"
                     (click)="onEnter($event)"
                     >Send</button>
              </div>
            </div>

          </div>
        </div>
      </div>
</div> -->