<title>Login</title>

<div class="authPage routePage changeable-onMenuOpen changeble-onPageAppearance" id="loginPage">
	<div class="authPage-content">
		<h2 class="main-title"> <span>Login</span> </h2>

		<div class="container">
			<div class="auth-hint white-text">{{loginStatus}}</div>

			<div class="row">
				<div class="col l12 m12 s12 card">
					<div class="input-field col s12 m6 l6">
						<input [(ngModel)]="userLogin" id="login" type="text" class="validate">
						<label for="login">Login*</label>
				    </div>
					<div class="input-field col s12 m6 l6">
						<input [(ngModel)]="userPassword" id="password" type="password" class="validate">
						<label for="password">Password*</label>
				    </div>
				</div>
			</div>

			<button (click)="login()" class="center-fluid skyBlue btn waves-effect waves-light"> <span>Enter</span> </button>

			<a class="center-fluid authPage-outerLink"  href="/#/register">
				<span>Registration</span>
			</a>

		</div>
	</div>
</div>