<title> Inbox </title>

<div class="routePage changeable-onMenuOpen changeble-onPageAppearance" id="inboxPage">
	<div class="container">
		<h2 class="main-title"> <span>Inbox</span> </h2>
		
		<div class="card" *ngFor="let chatMessage of chatMessages">
			<div class="card-content clearfix">
				<span> {{chatMessage}} </span>
			</div>
		</div>

		<!-- <span id="chatMessages"> {{chatMessages}} </span> -->
		
		<div class="card">
			<div class="card-content clearfix">
				<div class="input-field">
					<input [(ngModel)]="inputMessageValue" id="inputMessage" type="text" class="validate">
					<label for="inputMessage">Type your message here..</label>
			    </div>

			    <button class="right skyBlue btn waves-effect waves-light" (click)="sendMessage()">
			    	<span>Send</span>
			    </button>
			</div>
		</div>

	</div>
</div>