<header class="header changeable-onMenuOpen">
	<a class="header-logo" href="/#/home">
		<img [src]="Config.server + '/client/styles/img/logo2.png'" width="46" height="auto" />
	</a>

	<div id="nav-menu" class="nav-menu">
		<div class="nav-menu__mob-header clearfix">
			<button (click)="ui.toggleMenu()" class="menu-toggler waves-effect waves-light">
				<i class="material-icons white-text"> menu </i>
			</button>
			<a href="/#/home" class="brand-logo">
				<img [src]="Config.server + '/client/styles/img/logo2.png'" width="44" height="auto" />
			</a>
			<h3 class="mob-header-title">
				<span> Chatapp </span>
			</h3>
			<button (click)="ui.toggleMenu()" class="arrow-right waves-effect waves-light">
				<i class="material-icons white-text"> chevron_right </i>
			</button>
		</div>

		<div class="nav-menu__items clearfix slimScrollable_light">
			<div class="nav-menu__item" *ngFor = "let item of NavbarItems" (click)="ui.handleMenuItem(item.pageId)">
				<a routerLink="{{item.href}}"
				[routerLinkActive]="['active']"
				[routerLinkActiveOptions]="{exact:true}"> <span>{{item.label}}</span> </a>
			</div>


			<div class="nav-menu__item" *ngIf="loggedUser._id == undefined" (click)="ui.handleMenuItem('registerPage')">
				<a routerLink="register"
				[routerLinkActive]="['active']"
				[routerLinkActiveOptions]="{exact:true}"> <span>Registration</span> </a>
			</div>


			<div class="nav-menu__item" *ngIf="loggedUser._id == undefined" (click)="ui.handleMenuItem('loginPage')">
				<a routerLink="login"
				[routerLinkActive]="['active']"
				[routerLinkActiveOptions]="{exact:true}"> <span>Login</span> </a>
			</div>

			<div (click)="logout(loggedUser.token)" *ngIf="loggedUser._id != undefined" class="nav-menu__item">
				<span>Logout</span>
			</div>

			<button *ngIf="loggedUser._id != undefined" class="nav-menu__item item-loggedUser" (click)="ui.toggleClass('dropdown-loggedUser', 'active', 200)" >
				<div class="loggedUser">
					<a class="loggedUser-img">
						<img *ngIf="loggedUser.imgUrl != undefined" [src]="loggedUser.imgUrl" alt="">
					</a>
				</div>

				<ul id="dropdown-loggedUser" class="dropdownContent dropdownContent--bottom">
					<li *ngIf="loggedUser.role === 'admin'"> <a href="/#/admin"> <span> Admin Dashboard </span> </a> </li>
					<li> <a href=" '/#/user?user_id=' + loggedUser._id"> <span> My Page </span> </a> </li>
					<li> <a href=" '/#/profile?user_id=' + loggedUser._id"> <span> My Settings </span> </a> </li>
				</ul>
			</button>
		</div>
	</div>
</header>