<title> Chatapp </title>

<div class="routePage changeable-onMenuOpen changeble-onPageAppearance" id="homePage">
	<div class="container">
		<h2 class="main-title"> <span>Home Page</span> </h2>

		<div class="center-fluid">
			<button (click)="createRandomUsers(100)" class="btn waves-effect waves-light "> <span>Add 100 Random Users</span> </button> &nbsp;
			<button (click)="removeAllUsers()" class="btn waves-effect waves-light red"> <span> Remove All Users</span> </button>
		</div>

		<div *ngFor="let user of usersData" class="userPreview">
			<a class="userPreview-img" href="">
				<img src="{{user.imgUrl}}" alt="" />
			</a>
			<div class="userPreview-info">
				<a class="userPreview-name" href="">
					<span> {{user.name}} {{user.secondName}} {{user.surName}}
						<i *ngIf="user.verified === true" class="material-icons">verified_user</i>
					 </span>
				</a>

				<div *ngIf="user.city" class="userPreview-param">
					<span> City: </span>
					<span class="param-value"> {{user.city}} </span>
				</div>

				<div *ngIf="user.age" class="userPreview-param">
					<span> Age: </span>
					<span class="param-value"> {{user.age}} </span>
				</div>

			</div>
		</div>
	</div>
</div>